#jqtest {
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

.dice {
  height: 80px;
  width: 80px;
  border-radius: 8px;
  background-color: red;
  position: relative;
  text-align: center;
  margin: auto;
}

.dice:hover {
  cursor: pointer;
}

.dots {
  height: 16px;
  width: 16px;
  background-color: white;
  border-width: 1px;
  border-color: silver;
  border-style: solid;
  border-radius: 8px;
  position: absolute;
  display: inline-block:
}

div#playerNames {
  z-index: 10;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

div#whoseTurn {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: darkgreen;
}

div.disablePlayer {
  z-index: 5;
  background-color: rgba(0,0,0,0.7);
}

.hold {
  text-align: center;
  margin: auto;
}

.turn {
  border-style: dotted;
  border-width: 3px;
  border-color: silver;
  border-radius: 4px;
  margin: 8px;
  text-align: center;
}

.firework {
  background: url(../img/firework1.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}
